@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: normal;
	src: url($fontDir + 'OpenSans/Regular/OpenSans-Regular.eot');
	src: local('☺'),
	local('system-font-name'),
	url($fontDir + 'OpenSans/Regular/OpenSans-Regular.woff') format('woff'),
	url($fontDir + 'OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'),
	url($fontDir + 'OpenSans/Regular/OpenSans-Regular.svg#webfont6izVs1DN') format('svg');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: bold;
	src: url($fontDir + 'OpenSans/Bold/OpenSans-Bold.eot');
	src: local('☺'),
	local('system-font-name'),
	url($fontDir + 'OpenSans/Bold/OpenSans-Bold.woff') format('woff'),
	url($fontDir + 'OpenSans/Bold/OpenSans-Bold.ttf') format('truetype'),
	url($fontDir + 'OpenSans/Bold/OpenSans-Bold.svg#webfont6izVs1DN') format('svg');
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic, oblique;
	font-weight: normal;
	src: url($fontDir + 'OpenSans/Italic/OpenSans-Italic.eot');
	src: local('☺'),
	local('system-font-name'),
	url($fontDir + 'OpenSans/Italic/OpenSans-Italic.woff') format('woff'),
	url($fontDir + 'OpenSans/Italic/OpenSans-Italic.ttf') format('truetype'),
	url($fontDir + 'OpenSans/Italic/OpenSans-Italic.svg#webfont6izVs1DN') format('svg');
}
