.app-loading {
	@include defaults();
	color: white;
	font-size: 3em;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	@include translate(-50%, -50%);

	.text {
		margin-bottom: 0.75em;
	}

	.loading-anim {
		font-size: 0.5em;

		.loading {
			@include animate(spin, 5s, infinite, linear);
			background-color: transparent;
			border: $loadingBorderWidth solid transparent;
			@include border-radius(50%);
			border-radius: 50%;
			margin: $loadingBorderWidth auto;
		}
		.spin-1{
			border-color: #c00353 transparent transparent #c00353;
			width: 5em;
			height: 5em;
		}
		.spin-2{
			@include animation-delay(1s);
			border-color: #05bbc3 transparent transparent #05bbc3;
			width: 4em;
			height: 4em;
		}
		.spin-3{
			@include animation-delay(1s);
			border-color: #d2d947 transparent transparent #d2d947;
			width: 3em;
			height: 3em;
		}
		.spin-4{
			@include animation-delay(1s);
			border-color: transparent #f2a342 #f2a342 transparent;
			width: 2em;
			height: 2em;
		}
		.spin-5 {
			border: $loadingBorderWidth solid white;
			width: 1em;
			height: 1em;
		}
	}
}

@include animation(spin) {
	0% {
		@include transform(rotate(0deg));
	}
	25% {
		@include transform(rotate(160deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	75% {
		@include transform(rotate(360deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
