// paths
$fontDir: "/assets/fonts/";
$imageDir: "/assets/images";

// global variables
$desktopMaxWidth: 1000px;
$mobileBP: bp1000;

// colors
$bgColor: #1d1f20;
$white: #d7d7d7;

// fonts
$fontStack: 'Open Sans', Helvetica, Arial;

$loadingBorderWidth: 0.25em;
