// paths
$fontDir: "/assets/fonts/";
$imageDir: "/assets/images";

// global variables
$desktopMaxWidth: 1000px;
$mobileBP: bp1000;

// fonts
$fontStack: 'Open Sans', Helvetica, Arial;

$loadingBorderWidth: 0.25em;
