@import "compass/css3";
@import "normalize";
@import "variables";
@import "fontface";
@import "mixins";
@import "custom_ember";

html {
	height: 100%;
}

body {
	@include defaults();
	font-family: $fontStack;
	height: 100%;

	&>.ember-view {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.global-header {
	background: url($imageDir + "/arya_behind_chair.jpg") #444;
	background-attachment: fixed;
	color: white;
	height: 100%;
	padding: 2rem 2.5rem;
	text-align: center;
	width: 100%;

	.site-logo {
		@include defaults();
		font-size: 6em;
	}

	.tagline {
		font-size: 2em;
		margin: 0.3em 0;
	}
}

.projects-section {
	ul {
		@include defaults();
		list-style: none;

		li {
			@include defaults(33.3333%);
			display: inline-block;
		}
	}

}

