@import "compass/css3";
@import "normalize";
@import "variables";
@import "fontface";
@import "mixins";

@import "reusables";

* {
	@include box-sizing(border-box);
}

html {
	height: 100%;
}

body {
	@include defaults();
	background: $bgColor;
	color: white;
	font-family: $fontStack;
	height: 100%;

	&>.ember-view {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.global-header 	{
	color: $white;
	overflow: hidden;
	min-height: 6rem;
	padding: 3.6rem 2.5rem;
	position: relative;
	text-align: center;
	width: 100%;

	@include respond-to($mobileBP) {
		height: 100%;
		padding: 2rem 2.5rem;
	}

	.bg {
		background-image: url('/assets/images/thai_rocking.jpg');
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:after {
			background-image: linear-gradient(to bottom right,#417711,#292484);
			content: '';
			height: 100%;
			left: 0;
			opacity: 0.9;
			position: absolute;
			top: 0;
			width: 100%;
		}

		img {
			@include translate(-50%, 0);
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			width: auto;

			@include respond-to(bp1150) {
				height: auto;
				width: 100%;
			}
		}
	}

	.site-logo {
		@include defaults();
		font-size: 3em;

		@include respond-to($mobileBP) {
			font-size: 6em;
		}
	}

	.tagline {
		@include defaults();
		font-size: 1em;
		margin: 0.3em 0;

		@include respond-to($mobileBP) {
			font-size: 2em;
		}
	}

	.info {
		@include defaults();
	}

	.socials {
		@include defaults();
		margin: 3em 0 0;
		text-align: center;

		[class^=icon-] {
			background-size: 100% auto;
			display: inline-block;
			height: 2rem;
			margin: 0 0.75em;
			opacity: 0.8;
			vertical-align: top;
			width: 2rem;

			@include respond-to($mobileBP) {
				height: 3rem;
				margin: 0 1.5em;
				width: 3rem;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.cta {
		@include defaults();
		@include translate(-50%, 0);
		bottom: 1.75rem;
		cursor: pointer;
		display: none;
		font-size: 1rem;
		height: 1.75em;
		left: 50%;
		position: absolute;

		@include respond-to($mobileBP) {
			bottom: 6rem;
			display: block;
			font-size: 3rem;
		}

		.text {
			@include animate(drop, 1.6s, 1, ease-in-out);
			position: absolute;
			top: 0;
			left: 50%;
			@include translate(-50%, 0);
		}

		.site-icon {
			@include animate(dropRepeat, 2s, infinite, ease-in-out);
			background-size: 100% auto;
			bottom: -1.3em;
			height: 1em;
			left: 50%;
			@include translate(-50%, 0);
			position: absolute;
			width: 1em;
		}
	}
}

@include animation(drop) {
	0% {
		opacity: 0;
		@include translate(-50%, -6em);
	}
	100% {
		opacity: 1;
		@include translate(-50%, 0);
	}
}

@include animation(dropRepeat) {
	0% {
		@include translate(-50%, -0.45em);
	}

	50% {
		@include translate(-50%, 0);
	}

	100% {
		@include translate(-50%, -0.45em);
	}
}

.main-section {
	@include clearfix();
}

.projects-section {
	background: $bgColor;

	ul {
		@include defaults();
		-webkit-flex-flow: row wrap;
		list-style: none;

		.project {
			display: block;
			margin-bottom: 1em;
			position: relative;

			@include respond-to($mobileBP) {
				float: left;
				margin: 0;
				width: 33.3333%;
			}

			& > a {
				display: block;
				overflow: hidden;
				position: relative;
			}

			.thumb {
				width: 100%;

				img {
					width: 100%;
				}
			}

			.info {
				background: rgba(41, 36, 132, 0.8);
				color: $white;
				font-size: 1.6em;
				letter-spacing: 0.05em;
				padding: 3%;
				text-align: center;
				text-transform: uppercase;
				width: 100%;

				@include respond-to($mobileBP) {
					@include display-box();
					@include box-align(center);
					@include box-pack(center);
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
				}

				h2 {
					font-size: 1em;
					font-weight: normal;
					margin: 0;
				}
			}
		}
	}
}

