.icon-down-arrow-white { background-image: url('png/down-arrow-white.png'); background-repeat: no-repeat; }

.icon-down-arrow { background-image: url('png/down-arrow.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-linkedin-white { background-image: url('png/linkedin-white.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

